<form #registerForm="ngForm" (ngSubmit)="register()" >
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" class="form-control" id="username" aria-describedby="username" [(ngModel)]="model.username" placeholder="Enter username" name="username" required>
      
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password"name="password" required class="form-control" id="exampleInputPassword1" [(ngModel)]="model.password" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <button type="button" class="btn btn-danger" (click)="cancel()">Cancel</button>
  </form>