table {
    margin-top: 15px;
}

.img-circle {
max-height: 50px; 

}

td {
    vertical-align:middle; 
}
.bg{

    background-color:white;
    border: 5px solid white;
    border-radius: 10px;
    width:100%;
    height:80%;
}